.intensity {
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 2em;

    span {
        width: fit-content;
        margin: 0 auto;
       border: 2px solid rgb(0, 0, 0);
       padding: 1em;
       margin-bottom: 1em;
       background: linear-gradient(to right, #ff0000, #ffffff);
    }

    .delete-button {
        margin-top: 1em;
        border-radius: 10px;
        background-color: red;
        border: transparent;
        padding: 5px;
        max-width: 20%;
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .add-exercise {
        width: 100%;
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        
        input {
            margin: 1em;
        }

        button {
            
            background-color: red;
            width: 35%;
            margin: 0 auto;
            
        }
    }
}



@media(max-width:390px) {

    .intensity .close-button {
            
        width: 17%;
    
}

    .add-exercise form input {
        margin: 1em 0 1em 0;
    }
}