@use '../../styles/variables';


.intensity {
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 2em;

    .delete-exercise {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    span {

    width: fit-content;
    border-radius: 5px; 
    text-align: left;
    background-color: variables.$text_color_secondary;
    padding:9px 5px;
    height: 36px;
    box-sizing: border-box;
    
    }

    .delete-button {
        
        border-radius: 10px;
        background-color: variables.$color_delete;
        border: transparent;
        padding: 5px;
        width: 30%;
        height: 32px;
        text-transform: uppercase;
        
    }
    .add-exercise {
        width: 100%;
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        
        input {
            margin: 1em;
        }

        button {
            
            background-color: red;
            width: 35%;
            margin: 0 auto;
            
        }
    }
}



@media(max-width:420px) {

    .intensity .close-button {
            
        width: 17%;
       
    
}

    .add-exercise form input {
        margin: 1em 0 1em 0;
    }
}