.intensity-tab {
    display: flex;
    width: 50%; 
    align-items: left;
    margin: 0 auto;

    form {
        width: 50%;
    }
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    .intensity-tab-numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;

        div {
            margin: 1em auto;
        }
    }

    }


    @media(max-width:390px) {
        .intensity-tab {
            width: 100%;

            .close-button {
                width: 50%;
            }


        }

      
    }