.App {
  text-align: center;
  display: flex;
  
  align-items: center;
  justify-content: center;
  height: 100%;
  

  .add-exercise  {

    width:100%;
    margin:0 auto;

    form {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 0 auto;

      input {
        width: 40%;
      }

      button {
        background-color: red;
        width: 44%;

      }
    }
  }
}


@media(max-width:400px) {

  .App .add-exercise form {
    margin: 0 auto;

  }
  .App .add-exercise form button {
    margin-top: 1em;
    width: 100%;
    border-radius: 10px;
    border: transparent;
    padding: 1em;
  }

  .App .add-exercise form input {
    width: 90%;
  }
 }