.App {
  text-align: center;
  display: flex;
 
  align-items: center;
  justify-content: center;
  height: 100%;
  

  .add-exercise  {

    width:100%;
    margin:0 auto;

    form {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 0 auto;

      input {
        width: 40%;
      }

      button {
        background-color: red;
        width: 40%;
      }
    }
  }
}


@media(max-width:390px) {
  .App .add-exercise form button {
    width: 100%;
  }

  .App .add-exercise form input {
    width: 90%;
  }
 }